<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.84.0" />
  <title>Planes Forex</title>
  <%- include('partials/header') %>
</head>

<body>
  <div class="container py-3">

    <header>
      <div id="home-top-video">
        <video id="background-video" autoplay loop muted>
          <source src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/invrtir-landing-page-forex.mp4"
            type="video/mp4">
        </video>
      </div>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <div class="card-overlay"></div>
        <h1 class="display-4 fw-normal text-white">OPERA EN FOREX COMO LOS EXPERTOS</h1>
        <p class="fs-5  text-center text-white">
          Te proporcionamos señales rentables de Forex.
        </p>
        <img id="imgcover" src="https://d8ff17fs33kjt.cloudfront.net/ventas/landing-forex/img-cover-forex-inv.001.png">
      </div>
      <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
        <img class="logob mb-4"
          src="https://d8ff17fs33kjt.cloudfront.net/ventas/landing-forex/Logo+invrtir+bluepips+combinado.png">
        <h2 class="display-4 fw-normal">¿Por qué Invrtir - Bluepips?</h1>
          <p class="fs-5 text-muted text-center">
            Nuestro equipo de especialistas identificarán las mejores oportunidades del mercado
            compartiendo actualizaciones e identificando oportunidades.
          </p>
      </div>
    </header>
    <div class="container py-5">
      <div class="py-5 text-center">
        <h2>VENTAJAS</h2>
        <div class="row mb-4 py-3">
          <div class="col-12">
            <div class="bg-light py-3 rounded-3">
              <div class="row justify-content-center my-3 text-center">
                <div class="col-md-4 px-5 text-center">
                  <div class="icon-xl bg-success bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-alarm"></i>
                  </div>
                  <h6>1 A 3 alertas a corto plazo por día</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-primary bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-telegram"></i>
                  </div>
                  <h6>Alertas en Telegram</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-warning bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-activity"></i>
                  </div>
                  <h6>3 Take Profit por alerta</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-info bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-globe"></i>
                  </div>
                  <h6>Sesiones en apertura de Asia, London y New York</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-danger bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-graph-down-arrow"></i>
                  </div>
                  <h6>Asesoramiento en gestión de riesgo</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonholder p-3"><a class="pricingbutton" href="#pricing">Ver Planes</a></div>
      </div>
      <div class="row pt-5 d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0">
          <img id="imgCaracteristicas"
            src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LSesionesVivo.png"
            class="img-fluid" alt="Sesiones en Vivo">
        </div>
        <div class="section4 col-md-6">
          <h2>SESIONES EN VIVO</h2>
          <ul>
            <li>Aula virtual de trading en vivo</li>
            <li>2 a 5 a la semana</li>
            <li>Horarios Asia, London y New York</li>
            <li>Análisis del mercado junto a los alumnos</li>
            <li>Entradas en tiempo real mientras el precio se está moviendo</li>
            <li>Trading en directo a través de nuestra App</li>
          </ul>
        </div>
      </div>
      <div class="row d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="d-block d-sm-none rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0 ">
          <img id="imgCaracteristicas"
            src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LCursosEstrategias.png"
            class="img-fluid" alt="Cursos y Estrategias">
        </div>
        <div class="section5 col-md-6 order-md-1 pt-md-4 pt-lg-5">
          <h2>CURSOS Y ESTRATÉGIAS</h2>
          <ul>
            <li>Aula virtual de trading en vivo</li>
            <li>Secretos y claves de nuestros traders</li>
            <li>Estrategia para cada sesión Asia, London y New York</li>
          </ul>
        </div>
        <div class="d-none d-sm-block rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0 ">
          <img id="imgCaracteristicas"
            src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LCursosEstrategias.png"
            class="img-fluid" alt="Cursos y Estrategias">
        </div>

      </div>
      <div class="row d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0">
          <img id="imgCaracteristicas"
            src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LHerramientas.png"
            class="img-fluid" alt="Herramientas">
        </div>
        <div class="section6 col-md-6 pt-md-4 pt-lg-5">
          <h2>HERRAMIENTAS PARA TU ANÁLISIS</h2>
          <ul>
            <li>Calculadora de gestión de riesgo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-5 px-3" id="pricing">
      <h2 class="text-center py-3">SELECCIONA TU PLAN</h2>
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <% arraryProductPricesData.forEach(function(product){ %>
            <div class="col px-3">
              <% if (product.name==='BP-Plan Premium - Paquete Oportunidades + Sesiones en vivo' ) { %>
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3 text-white">
                    <h4 id="nameProduct" class="my-0 fw-normal">
                      <%= product.name %>
                    </h4>
                  </div>
                  <% } else {%>
                    <div class="card mb-4 rounded-3 shadow-sm">
                      <div class="card-header py-3">
                        <h4 id="nameProduct" class="my-0 fw-normal">
                          <%= product.name %>
                        </h4>
                      </div>
                      <% }%>
                        <div class="card-body px-0">
                          <ul class="nav nav-tabs justify-content-center" id="forexTab" role="tablist">
                            <% product.prices.forEach(function(price){ %>
                              <li class="nav-item" role="presentation">
                                <% if (price.type==='Semanal' ) { %>
                                  <button class="nav-link active" id="<%= price.id %>-tab" data-bs-toggle="tab"
                                    data-bs-target="#<%= price.id %>" type="button" role="tab"
                                    aria-controls="<%= price.id %>" aria-selected="true">
                                    <%= price.type %>
                                  </button>
                                  <% } else {%>
                                    <button class="nav-link " id="<%= price.id %>-tab" data-bs-toggle="tab"
                                      data-bs-target="#<%= price.id %>" type="button" role="tab"
                                      aria-controls="<%= price.id %>" aria-selected="true">
                                      <%= price.type %>
                                    </button>
                                    <% }%>
                              </li>
                              <% }); %>
                          </ul>
                          <div class="tab-content p-4">
                            <% product.prices.forEach(function(price){ %>
                              <% if (price.type==='Semanal' ) { %>
                                <div class="tab-pane active show" id="<%= price.id %>" role="tabpanel"
                                  aria-labelledby="<%= price.id %>-tab" tabindex="0">
                                  <form id="<%=price.id %>" action="/planesForex/payPlan" method="post"
                                    data-rewardful="true">

                                    <% if (product.name==='BP-Plan Premium - Paquete Oportunidades + Sesiones en vivo' )
                                      { %>
                                      <h1 class="card-title pricing-card-title">$39.99<small
                                          class="text-muted fw-light">/semana</small></h1>

                                      <ol class="list-group list-group-flush mt-3 mb-4">
                                        <li class="list-group-item"> <strong>Beneficios del Plan 1 y Plan 2</strong>
                                        </li>
                                        <li class="list-group-item"><strong>Accesos a nuestros cursos de
                                            estrategias</strong> </li>
                                        <li class="list-group-item"> <strong>Acceso a alertas de trading en
                                            forex</strong> tanto para
                                          divisas como para indices.
                                        </li>
                                        <li class="list-group-item"> <strong>Sesiones de Trading en vivo</strong> en
                                          sesiones de Open
                                          New York, Asia o Londres.
                                        </li>
                                      </ol>
                                      <% } else if (product.name==='BP-Plan 2 - Sesiones de operación en vivo' ) {%>
                                        <h1 class="card-title pricing-card-title">$29.99<small
                                            class="text-muted fw-light">/semana</small></h1>

                                        <ol class="list-group list-group-flush mt-3 mb-4">
                                          <li class="list-group-item"> <strong>Sesiones de Trading en vivo</strong> en
                                            sesiones de Open
                                            New York, Asia o Londres.
                                          </li>
                                        </ol>
                                        <% } else if (product.name==='BP-Plan 1 - Oportunidades' ){%>
                                          <h1 class="card-title pricing-card-title">$10.99<small
                                              class="text-muted fw-light">/semana</small></h1>
                                          <ol class="list-group list-group-flush mt-3 mb-4">
                                            <li class="list-group-item"> <strong>Acceso a alertas de trading en
                                                forex</strong> tanto para
                                              divisas como para indices.
                                            </li>
                                          </ol>
                                          <% } %>
                                            <input type="hidden" name="idPrice" value=<%=price.id %>>
                                            <button id="botonComprar" type="submit"
                                              class="w-100 btn btn-lg text-white">Comprar</button>
                                  </form>
                                </div>
                                <% } else {%>
                                  <div class="tab-pane " id="<%= price.id %>" role="tabpanel"
                                    aria-labelledby="<%= price.id %>-tab" tabindex="0">
                                    <form id="<%=price.id %>" action="/planesForex/payPlan" method="post"
                                      data-rewardful="true">
                                      <% if (product.name==='BP-Plan Premium - Paquete Oportunidades + Sesiones en vivo'
                                        ) { %>
                                        <h1 class="card-title pricing-card-title">$1,500<small
                                            class="text-muted fw-light">/año</small></h1>
                                        <h5 class="fst-italic card-title pricing-card-title">Ahorras $300</h5>
                                        <ol class="list-group list-group-flush mt-3 mb-4">
                                          <li class="list-group-item"> <strong>Beneficios del Plan 1 y Plan 2</strong>
                                          </li>
                                          <li class="list-group-item"><strong>Accesos a nuestros cursos de
                                              estrategias</strong> </li>
                                          <li class="list-group-item"> <strong>Acceso a alertas de trading en
                                              forex</strong> tanto para
                                            divisas como para indices.
                                          </li>
                                          <li class="list-group-item"> <strong>Sesiones de Trading en vivo</strong> en
                                            sesiones de Open
                                            New York, Asia o Londres.
                                          </li>
                                        </ol>
                                        <% } else if (product.name==='BP-Plan 2 - Sesiones de operación en vivo' ){%>
                                          <h1 class="card-title pricing-card-title">$1,250<small
                                              class="text-muted fw-light">/año</small></h1>
                                          <h5 class="fst-italic card-title pricing-card-title">Ahorras $250</h5>
                                          <ol class="list-group list-group-flush mt-3 mb-4">
                                            <li class="list-group-item"> <strong>Sesiones de Trading en vivo</strong> en
                                              sesiones de Open
                                              New York, Asia o Londres.
                                            </li>
                                          </ol>
                                          <% } else if (product.name==='BP-Plan 1 - Oportunidades' ){%>
                                            <h1 class="card-title pricing-card-title">$1,000<small
                                                class="text-muted fw-light">/año</small></h1>
                                            <h5 class="fst-italic card-title pricing-card-title">Ahorras $200</h5>
                                            <ol class="list-group list-group-flush mt-3 mb-4">
                                              <li class="list-group-item"> <strong>Acceso a alertas de trading en
                                                  forex</strong> tanto para
                                                divisas como para indices.
                                              </li>
                                            </ol>
                                            <% } %>

                                              <input type="hidden" name="idPrice" value=<%=price.id %>>
                                              <button id="botonComprar" type="submit"
                                                class="w-100 btn btn-lg text-white">Comprar</button>
                                    </form>
                                  </div>
                                  <% }%>
                                    <% }); %>
                          </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
      </main>
    </div>
    <div id="faqs">
      <div class="itemsadv">
        <h2>
          Preguntas Frecuentes
        </h2>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            ¿Necesito experiencia previa para asistir al webinar?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No necesitas ninguna experiencia o nocimientos previos, lo que verás en este webinar lo
              podrás comprender de una manera sencilla y sobretodo lo podrás aplicar.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Cuánto dinero necesito para comenzar?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Puedes empezar a invertir desde $5 no hay minimos tu puedes definir la cantidad que se
              adapte a tus posibilidades.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Despues de este webinar podré comenzar a invertir mi dinero?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>Absolutamente si, luego de este webinar tendrás los conocimientos necesarios para
              comenzar con una estrategia de inversión que podrás implementar de inmediato.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Donde puedo aprender más sobre inversiones?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="respuesta">Tienes disponible nuestro <a class="links" target="_blank"
                href="https://podcast.invrtir.com">Podcast</a> y nuestro canal de <a class="links" target="_blank"
                href="https://link.invrtir.com/youtube">Youtube</a> para que puedas obtener conocimientos
              importantes para manejar tus inversiones.</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="container">
        <!-- Row START -->
        <div class="row g-4">

          <!-- Widget 1 START -->
          <div class="col-lg-8 px-3">
            <!-- logo -->
            <a class="me-0" href="index.html">
              <img class="light-mode-item h-40px"
                src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/logo-invrtir.svg" alt="logo">
            </a>
            <p class="my-3">Invrtir es una Fintech que brinda los conocimientos y herramientas para que puedas obtener
              insights y analisis que te ayuden a tomar decisiones de inversión en acciones de compañías en Estados
              Unidos.</p>
            <!-- Social media icon -->
            <ul class="list-inline mb-0 mt-3">
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook"
                  href="https://www.facebook.com/invrtir"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram"
                  href="https://www.instagram.com/invrtir/"><i class="fab fa-fw fa-instagram"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-whatsapp"
                  href="https://link.invrtir.com/escribeme"><i class="fab fa-fw fa-whatsapp"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-tiktok"
                  href="https://www.tiktok.com/@invrtir"><i class="fa-brands fa-tiktok"></i></i></a> </li>
            </ul>
          </div>
          <!-- Widget 1 END -->

          <!-- Widget 2 START -->
          <div class="col-lg-4 px-5">
            <div class="row">
              <!-- Link block -->
              <div class="col-md-6">
                <h5 class="mb-2 mb-md-4">Compañía</h5>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="https://app.invrtir.com">Aplicación</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://podcast.invrtir.com">Podcast</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://link.invrtir.com/escribeme">Contáctanos</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h5 class="mb-2 mb-md-4">Contactos</h5>
                <!-- Time -->
                <p class="mb-2">
                  Teléfono:<span class="h6 fw-light ms-2">(+593)96750-7365</span>
                </p>
                <p class="mb-0">Correo: <br><span class="h6 fw-light ms-2">contacto@invrtir.com</span></p>
              </div>
            </div>
          </div><!-- Row END -->

          <!-- Divider -->
          <hr class="mt-4 mb-0">

          <!-- Bottom footer -->
          <div class="py-3">
            <div class="container px-0">
              <div class="d-lg-flex justify-content-between align-items-start py-3 text-start text-md-left">
                <!-- copyright text -->
                <div class="text-primary-hover"> Copyrights <a href="#" class="text-body"> Invrtir,</a> una división de
                  Dan
                  Neira Capital Partners. Todos los derechos reservados.</div>
                <!-- copyright links-->
                <div class="justify-content-center mt-3 mt-lg-0">
                  <ul class="nav list-inline justify-content-center mb-0">
                    <li class="list-inline-item"><a class="nav-link py-0"
                        href="https://invrtir.com/p/terms?sa=off">Términos
                        de
                        Uso</a></li>
                    <li class="list-inline-item"><a class="nav-link py-0 pe-0"
                        href="https://invrtir.com/p/privacy?sa=off">Politicas de Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </div>
</body>

</html>