<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Planes Invrtir+</title>
  <%- include('partials/header_v2') %>
</head>

<body>
  <div id="containerGeneral" class="container mx-2 px-4 py-4 min-vh-100">
    <div class="row my-sm-5 text-center my-3 mx-auto">
      <div class="col-sm-12"><img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/logos/logo-invrtir%2B.png"></div>
      <div class="col-sm-12">
        <h1 class="tituloGeneral">¡Elige el plan que mejor se adapte a ti!</h1>
      </div>
    </div>
    <div id="thirdBlock" class="row cardsPaquete row-cols-1 mx-auto my-sm-5 my-3">
      <div class="col-lg-4  p-3">
        <div class="row align-items-center row-cols-1">
          <div class="col">
            <h4 class="tituloPlan" style="text-align:center"><%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].name %></h4>
          </div>
          <img class="logo my-3" src=<%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].img %>>
          <div class="col">
            <%- jsonProductPrices["prod_NEGbU8IfMKmzzF"].description %>
          </div>
          <div class="d-flex justify-content-around flex-row">
            <div class="flex-fill ">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-inversionista-logo.svg" class=" logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill ">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trader-pro-logo.svg" class="logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Pag-rentable-max-logo.svg" class="logoPaquete">
              <i class="plusPaquete bi bi-plus-circle-fill"></i>
            </div>
            <div class="flex-fill">
              <img src="https://d8ff17fs33kjt.cloudfront.net/Contenido+WebPage/new-landing/Paq-trading-deportivo-logo.svg" class="logoPaquete">
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-8  custom-separator">
        <div class="row  row-cols-1">
          <div class="col firstSection">
            <div class="row align-items-center row-cols-sm-2 row-cols-1">
              <div class="col firstPlan">
                <form id="<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
                  <div class="row  row-cols-1 p-3">
                    <div class="col">
                      <h4 style="text-align:center" class="tituloSubPaquete"><%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].name %></h4>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-center align-items-end">
                        <h1 class="valuePrecio">$<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].value %></h1>
                        <p>/<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].type %></p>
                      </div>
                    </div>
                    <div class="col">
                      <input type="hidden" name="idPrice" value=<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].id %>>
                      <input class="btn btn-primary w-100" type="submit" value="Suscribirme">
                    </div>
                    <% if (jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].savings!=='0' ) { %>
                    <div class="col mt-3">
                      <div class="d-flex justify-content-center">
                        <p> <strong> Ahorras: </strong><strong style="color:  #FF6601;">$<%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[7].savings%></strong></p>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </form>
              </div>
              <div class="col secondPlan">
                <form id="<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
                  <div class="row  row-cols-1 p-3">
                    <div class="col">
                      <h4 style="text-align:center" class="tituloSubPaquete"><%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].name %></h4>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-center align-items-end">
                        <h1 class="valuePrecio">$<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].value %></h1>
                        <p>/<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].type %></p>
                      </div>
                    </div>
                    <div class="col">
                      <input type="hidden" name="idPrice" value=<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].id %>>
                      <input class="btn btn-primary w-100" type="submit" value="Suscribirme">
                    </div>
                    <% if (jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].savings!=='0' ) { %>
                    <div class="col mt-3">
                      <div class="d-flex justify-content-center">
                        <p> <strong> Ahorras: </strong><strong style="color:  #FF6601;">$<%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[5].savings%></strong></p>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="row align-items-center row-cols-sm-2 row-cols-1">
              <div class="col firstPlan">
                <form id="<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
                  <div class="row  row-cols-1 p-3">
                    <div class="col">
                      <h4 style="text-align:center" class="tituloSubPaquete"><%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].name %></h4>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-center align-items-end">
                        <h1 class="valuePrecio">$<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].value %></h1>
                        <p>/<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].type %></p>
                      </div>
                    </div>
                    <div class="col">
                      <input type="hidden" name="idPrice" value=<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].id %>>
                      <input class="btn btn-primary w-100" type="submit" value="Suscribirme">
                    </div>
                    <% if (jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].savings!=='0' ) { %>
                    <div class="col mt-3">
                      <div class="d-flex justify-content-center">
                        <p> <strong> Ahorras: </strong><strong style="color:  #FF6601;">$<%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[3].savings%></strong></p>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </form>
              </div>
              <div class="col secondPlan">
                <form id="<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
                  <div class="row  row-cols-1 p-3">
                    <div class="col">
                      <h4 style="text-align:center" class="tituloSubPaquete"><%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].name %></h4>
                    </div>
                    <div class="col">
                      <div class="d-flex justify-content-center align-items-end">
                        <h1 class="valuePrecio">$<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].value %></h1>
                        <p>/<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].type %></p>
                      </div>
                    </div>
                    <div class="col">
                      <input type="hidden" name="idPrice" value=<%=jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].id %>>
                      <input class="btn btn-primary w-100" type="submit" value="Suscribirme">
                    </div>
                    <% if (jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].savings!=='0' ) { %>
                    <div class="col mt-3">
                      <div class="d-flex justify-content-center">
                        <p> <strong> Ahorras: </strong><strong style="color:  #FF6601;">$<%= jsonProductPrices["prod_NEGbU8IfMKmzzF"].prices[1].savings%></strong></p>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="planesInfo" class="d-flex flex-lg-row flex-column my-sm-5 my-3">

      <% jsonProductPrices["prod_NEGUz31rPHbrxv"].prices.forEach(function(price){ %>
      <div class="col  align-items-center cardsPaquete me-lg-3 my-3 p-3 ">
        <form id="<%=price.id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
          <div class="row row-cols-1">
            <div class="col">
              <h4 class="tituloPlan" style="text-align:center"><%=jsonProductPrices["prod_NEGUz31rPHbrxv"].name%></h4>
            </div>
            <div class="col my-3">
              <div class="row">
                <div class="col-3">
                  <img class="img-fluid d-block" src=<%=jsonProductPrices["prod_NEGUz31rPHbrxv"].img%>>
                </div>
                <div class="col-9">
                  <div class="row row-cols-1">
                    <div class="col">
                      <h5 class="subtituloPlan"><%=price.name%></h4>
                    </div>
                    <div class="col">
                      <%- jsonProductPrices["prod_NEGUz31rPHbrxv"].description %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="d-flex justify-content-center align-items-end">
                <h2 class="valuePrecio">$<%=price.value %></h2>
                <p>/<%=price.type %></p>
              </div>
            </div>
            <div class="col">
              <input type="hidden" name="idPrice" value=<%=price.id %>>
              <input class="btn btn-primary w-100" type="submit" value="Suscribirme">
            </div>
          </div>
        </form>
      </div>
      <% }); %>
      <div  class="col  align-items-center cardsPaquete me-lg-3 my-3 p-3 ">
        <form id="<%=jsonProductPrices["prod_NMSGBeQWmwTl16"].prices[0].id %>" action="/planesInvrtir/payPlan" method="post" data-rewardful="true">
          <div class="col">
            <%- jsonProductPrices["prod_NMSGBeQWmwTl16"].description %>
          </div>
          <div class="col text-center">
            <input type="hidden" name="idPrice" value=<%=jsonProductPrices["prod_NMSGBeQWmwTl16"].prices[0].id %>>
            <input class="btn btn-primary w-50" type="submit" value="Suscribirme">
          </div>
        </form>
      </div>
    </div> -->
  </div>
  <%- JSON.stringify(sonProductPrices["prod_NEGbU8IfMKmzzF"].description) %>
</body>

</html>