<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.84.0" />
  <title>Planes Forex</title>
  <%- include('partials/header') %>
</head>

<body>
  <div class="container py-3">

    <header>
      <div id="home-top-video">
        <video id="background-video" autoplay loop muted>
          <source src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/invrtir-landing-page-forex.mp4" type="video/mp4">
        </video>
      </div>
      <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
        <div class="card-overlay"></div>
        <h1 class="display-4 fw-normal text-white">OPERA EN FOREX COMO LOS EXPERTOS</h1>
        <p class="fs-5  text-center text-white">
          Te proporcionamos señales rentables de Forex.
        </p>
        <img id="imgcover" src="https://d8ff17fs33kjt.cloudfront.net/ventas/landing-forex/img-cover-forex-inv.001.png">
      </div>
      <div class="pricing-header p-2 pb-md-4 mx-auto text-center">
        <img class="logob mb-4" src="https://d8ff17fs33kjt.cloudfront.net/ventas/landing-forex/Logo+invrtir+bluepips+combinado.png">
        <h2 class="display-4 fw-normal">¿Por qué Invrtir - Bluepips?</h1>
          <p class="fs-5 text-muted text-center">
            Nuestro equipo de especialistas identificarán las mejores oportunidades del mercado
            compartiendo actualizaciones e identificando oportunidades.
          </p>
      </div>
    </header>
    <div class="container py-5">
      <div class="py-5 text-center">
        <h2>VENTAJAS</h2>
        <div class="row mb-4 py-3">
          <div class="col-12">
            <div class="bg-light py-3 rounded-3">
              <div class="row justify-content-center my-3 text-center">
                <div class="col-md-4 px-5 text-center">
                  <div class="icon-xl bg-success bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-alarm"></i>
                  </div>
                  <h6>1 A 3 alertas a corto plazo por día</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-primary bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-telegram"></i>
                  </div>
                  <h6>Alertas en Telegram</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-warning bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-activity"></i>
                  </div>
                  <h6>3 Take Profit por alerta</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-info bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-globe"></i>
                  </div>
                  <h6>Sesiones en apertura de Asia, London y New York</h6>
                </div>
                <div class="col-md-4  px-5 text-center">
                  <div class="icon-xl bg-danger bg-opacity-10 mx-auto rounded-circle mb-3">
                    <i class="bi bi-graph-down-arrow"></i>
                  </div>
                  <h6>Asesoramiento en gestión de riesgo</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttonholder p-3"><a class="pricingbutton" href="#pricing">Ver Planes</a></div>
      </div>
      <div class="row pt-5 d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0">
          <img id="imgCaracteristicas" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LSesionesVivo.png" class="img-fluid" alt="Sesiones en Vivo">
        </div>
        <div class="section4 col-md-6">
          <h2>SESIONES EN VIVO</h2>
          <ul>
            <li>Aula virtual de trading en vivo</li>
            <li>2 a 5 a la semana</li>
            <li>Horarios Asia, London y New York</li>
            <li>Análisis del mercado junto a los alumnos</li>
            <li>Entradas en tiempo real mientras el precio se está moviendo</li>
            <li>Trading en directo a través de nuestra App</li>
          </ul>
        </div>
      </div>
      <div class="row d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="d-block d-sm-none rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0 ">
          <img id="imgCaracteristicas" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LCursosEstrategias.png" class="img-fluid" alt="Cursos y Estrategias">
        </div>
        <div class="section5 col-md-6 order-md-1 pt-md-4 pt-lg-5">
          <h2>CURSOS Y ESTRATÉGIAS</h2>
          <ul>
            <li>Aula virtual de trading en vivo</li>
            <li>Secretos y claves de nuestros traders</li>
            <li>Estrategia para cada sesión Asia, London y New York</li>
          </ul>
        </div>
        <div class="d-none d-sm-block rellax col-md-6 order-md-2 pb-1 mb-3 pb-md-0 mb-md-0 ">
          <img id="imgCaracteristicas" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LCursosEstrategias.png" class="img-fluid" alt="Cursos y Estrategias">
        </div>

      </div>
      <div class="row d-flex align-items-center pb-5 mb-md-4 mb-lg-5">
        <div class="rellax col-md-6 pb-1 mb-3 pb-md-0 mb-md-0">
          <img id="imgCaracteristicas" src="https://d8ff17fs33kjt.cloudfront.net/bluepips/landing/Invrtir-forex-LHerramientas.png" class="img-fluid" alt="Herramientas">
        </div>
        <div class="section6 col-md-6 pt-md-4 pt-lg-5">
          <h2>HERRAMIENTAS PARA TU ANÁLISIS</h2>
          <ul>
            <li>Calculadora de gestión de riesgo</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-5 px-3" id="pricing">
      <h2 class="text-center py-3">SELECCIONA TU PLAN</h2>
      <main>
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <% arraryProductPricesData.forEach(function(product){ %>
          <div class="col px-3">
            <% if (product.name==='CR-Plan 1' ) { %>
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3 text-white">
                <h4 id="nameProduct" class="my-0 fw-normal">
                  <%= product.name %>
                </h4>
              </div>
              <% } else {%>
              <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                  <h4 id="nameProduct" class="my-0 fw-normal">
                    <%= product.name %>
                  </h4>
                </div>
                <% }%>
                <div class="card-body px-0">
                  <ul class="nav nav-tabs justify-content-center" id="forexTab" role="tablist">
                    <% product.prices.forEach(function(price){ %>
                    <li class="nav-item" role="presentation">
                      <% if (price.type==='Semanal' ) { %>
                      <button class="nav-link active" id="<%= price.id %>-tab" data-bs-toggle="tab" data-bs-target="#<%= price.id %>" type="button" role="tab" aria-controls="<%= price.id %>" aria-selected="true">
                        <%= price.type %>
                      </button>
                      <% } else {%>
                      <button class="nav-link " id="<%= price.id %>-tab" data-bs-toggle="tab" data-bs-target="#<%= price.id %>" type="button" role="tab" aria-controls="<%= price.id %>" aria-selected="true">
                        <%= price.type %>
                      </button>
                      <% }%>
                    </li>
                    <% }); %>
                  </ul>
                  <div class="tab-content p-4">
                    <% product.prices.forEach(function(price){ %>
                    <% if (price.type==='Semanal' ) { %>
                    <div class="tab-pane active show" id="<%= price.id %>" role="tabpanel" aria-labelledby="<%= price.id %>-tab" tabindex="0">
                      <form id="<%=price.id %>" action="/planesForex/payPlan" method="post" data-rewardful="true">

                        <% if (product.name==='CR-Plan 1' ) { %>
                        <h1 class="card-title pricing-card-title">$39.99<small class="text-muted fw-light">/semana</small></h1>

                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias avanzadas en forex.</strong></li>
                          <li class="list-group-item">Hasta <strong>10 alertas de compra y venta </strong>en los horarios Asia, London y New York.</li>
                          <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
                          <li class="list-group-item">Análisis a mediano plazo con <strong>principales pares e índices.</strong></li>
                        </ol>
                        <% } else if (product.name==='Plan 2' ) {%>
                        <h1 class="card-title pricing-card-title">$29.99<small class="text-muted fw-light">/semana</small></h1>

                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
                          <li class="list-group-item">Análisis del mercado <strong>juntos a los alumnos.</strong></li>
                        </ol>
                        <% } else if (product.name==='Plan 3' ){%>
                        <h1 class="card-title pricing-card-title">$10.99<small class="text-muted fw-light">/semana</small></h1>
                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias en forex.</strong></li>
                        </ol>
                        <% } %>

                        <input type="hidden" name="idPrice" value=<%=price.id %>>
                        <button id="botonComprar" type="submit" class="w-100 btn btn-lg text-white">Comprar</button>
                      </form>
                    </div>
                    <% } else {%>
                    <div class="tab-pane " id="<%= price.id %>" role="tabpanel" aria-labelledby="<%= price.id %>-tab" tabindex="0">
                      <form id="<%=price.id %>" action="/planesForex/payPlan" method="post" data-rewardful="true">
                        <% if (product.name==='CR-Plan 1' ) { %>
                        <h1 class="card-title pricing-card-title">$1,500<small class="text-muted fw-light">/año</small></h1>
                        <h5 class="fst-italic card-title pricing-card-title">Ahorras $300</h5>
                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias avanzadas en forex.</strong></li>
                          <li class="list-group-item">Hasta <strong>10 alertas de compra y venta </strong>en los horarios Asia, London y New York.</li>
                          <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
                          <li class="list-group-item">Análisis a mediano plazo con <strong>principales pares e índices.</strong></li>
                        </ol>
                        <% } else if (product.name==='Plan 2' ){%>
                        <h1 class="card-title pricing-card-title">$1,250<small class="text-muted fw-light">/año</small></h1>
                        <h5 class="fst-italic card-title pricing-card-title">Ahorras $250</h5>
                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Aula virtual de <strong>trading en vivo de 2 a 5 veces por semana</strong> y en horarios de Asia, Londres y Nueva York.</li>
                          <li class="list-group-item">Análisis del mercado <strong>juntos a los alumnos.</strong></li>
                        </ol>
                        <% } else if (product.name==='Plan 3' ){%>
                        <h1 class="card-title pricing-card-title">$1,000<small class="text-muted fw-light">/año</small></h1>
                        <h5 class="fst-italic card-title pricing-card-title">Ahorras $200</h5>
                        <ol class="list-group list-group-flush mt-3 mb-4">
                          <li class="list-group-item">Acceso completo a nuestros <strong>cursos en línea de estrategias en forex.</strong></li>
                        </ol>
                        <% } %>

                        <input type="hidden" name="idPrice" value=<%=price.id %>>
                        <button id="botonComprar" type="submit" class="w-100 btn btn-lg text-white">Comprar</button>
                      </form>
                    </div>
                    <% }%>
                    <% }); %>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>
      </main>
    </div>
    <div id="faqs">
      <div class="itemsadv">
        <h2>
          Preguntas Frecuentes
        </h2>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Necesito experiencia previa para asistir al webinar?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No necesitas ninguna experiencia o conocimiento previo, lo que encontrarás en esta aplicación lo podrás comprender de una manera sencilla y, sobretodo, lo podrás aplicar desde el primer día en tus operaciones.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Necesito mucho dinero para poder invertir en FOREX?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No necesitas mucho dinero para poder iniciar a invertir en este mercado, sin embargo, depende mucho del broker que estás usando.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Cuando invierto en FOREX compro directamente una divisa?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p>No compras directamente una divisa, lo que compras es un CFD o contrato por diferencia, el cual ha sido “contratado por el intermediario o Bróker, por esa razón, la inversión no suele ser tan grande.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            ¿Qué horas son mejores para operar?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="respuesta">Existen 3 horarios diferentes de los principales mercados internacionales, el de Nueva York que empieza a las 8:30 am, el de Asia que empieza a las 7 pm y el de Londres que empieza a las 2am. Por lo tanto, en estos 3 horarios puedes encontrar grandes oportunidades para generar ganancias.</p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
            ¿Es necesario que esté todo el día pendiente de mis operaciones?
          </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p class="respuesta">Todo depende sobretodo del tiempo disponible que tengas y la cantidad de dinero que vayas a invertir, ya que si le dedicas bastantes horas podrás conseguir ganancias más rápidas, sin embargo, también necesitarás una mayor inversion.</p>
            <p class="respuesta">A pesar de esto, gracias a nuestra suscripción podemos acortar aún más este tiempo, ya que nosotros te brindamos estrategias que hacen que estas operaciones sean rápidas y tan solo en 10 o 15 minutos podrás observar resultados reales.</p>
          </div>
        </div>
      </div>
    </div>
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
      <div class="container">
        <!-- Row START -->
        <div class="row g-4">

          <!-- Widget 1 START -->
          <div class="col-lg-8 px-3">
            <!-- logo -->
            <a class="me-0" href="index.html">
              <img class="light-mode-item h-40px" src="https://s3.us-east-2.amazonaws.com/invrtir/Wesite-content/logo-invrtir.svg" alt="logo">
            </a>
            <p class="my-3">Invrtir es una Fintech que brinda los conocimientos y herramientas para que puedas obtener
              insights y analisis que te ayuden a tomar decisiones de inversión en acciones de compañías en Estados
              Unidos.</p>
            <!-- Social media icon -->
            <ul class="list-inline mb-0 mt-3">
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-facebook" href="https://www.facebook.com/invrtir"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-instagram" href="https://www.instagram.com/invrtir/"><i class="fab fa-fw fa-instagram"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-whatsapp" href="https://link.invrtir.com/escribeme"><i class="fab fa-fw fa-whatsapp"></i></a> </li>
              <li class="list-inline-item"> <a class="btn btn-white btn-sm shadow px-2 text-tiktok" href="https://www.tiktok.com/@invrtir"><i class="fa-brands fa-tiktok"></i></i></a> </li>
            </ul>
          </div>
          <!-- Widget 1 END -->

          <!-- Widget 2 START -->
          <div class="col-lg-4 px-5">
            <div class="row">
              <!-- Link block -->
              <div class="col-md-6">
                <h5 class="mb-2 mb-md-4">Compañía</h5>
                <ul class="nav flex-column">
                  <li class="nav-item"><a class="nav-link" href="https://app.invrtir.com">Aplicación</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://podcast.invrtir.com">Podcast</a></li>
                  <li class="nav-item"><a class="nav-link" href="https://link.invrtir.com/escribeme">Contáctanos</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h5 class="mb-2 mb-md-4">Contactos</h5>
                <!-- Time -->
                <p class="mb-2">
                  Teléfono:<span class="h6 fw-light ms-2">(+593)96750-7365</span>
                </p>
                <p class="mb-0">Correo: <br><span class="h6 fw-light ms-2">contacto@invrtir.com</span></p>
              </div>
            </div>
          </div><!-- Row END -->

          <!-- Divider -->
          <hr class="mt-4 mb-0">

          <!-- Bottom footer -->
          <div class="py-3">
            <div class="container px-0">
              <div class="d-lg-flex justify-content-between align-items-start py-3 text-start text-md-left">
                <!-- copyright text -->
                <div class="text-primary-hover"> Copyrights <a href="#" class="text-body"> Invrtir,</a> una división de
                  Dan
                  Neira Capital Partners. Todos los derechos reservados.</div>
                <!-- copyright links-->
                <div class="justify-content-center mt-3 mt-lg-0">
                  <ul class="nav list-inline justify-content-center mb-0">
                    <li class="list-inline-item"><a class="nav-link py-0" href="https://invrtir.com/p/terms?sa=off">Términos
                        de
                        Uso</a></li>
                    <li class="list-inline-item"><a class="nav-link py-0 pe-0" href="https://invrtir.com/p/privacy?sa=off">Politicas de Privacidad</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
  </div>
</body>

</html>