<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body {
      padding: 8mm 10mm;
    }

    .cover {
      display: flex;
      align-items: center;
    }

    .logo {
      border: #ff6600 solid 1px;
      text-align: center;
      margin-right: 20px;
      padding: 10px;
    }

    .titulo {
      font-weight: 800;
      font-size: 25px;
    }

    .maintitle {
      font-size: 40px;
      font-weight: 800;
    }

    .datacontainer {
      display: flex;
      align-items: center;

      margin-bottom: 25px;

    }

    .datablock {
      width: 50%;
    }

    .datos {
      font-size: 24px;
      font-weight: lighter;
    }

    .totalhoras {
      width: 50%;
      font-size: 12px;
      text-align: center;
      border: #EC1F25 1px solid;
      background-color: #FFE6EB;
      align-items: center;
      padding: 30px 20px;
    }

    .totalhorastext {
      font-size: 35px;
      font-weight: 800;
      width: 100%;
      margin: auto;
    }

    .totalhorassub {
      font-size: 16px;
      width: 100%;
    }

    th {
      font-size: 18px;
      font-weight: 800;
    }

    td {
      font-size: 16px;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 0;
      padding-right: 0;
    }

    th{
      padding-top: 10px;
      padding-bottom: 20px;
      padding-left: 25px;
      padding-right: 20px;
    }
    .signs {
      margin: 100px 0px;
      display: flex;
    }

    .indsign {
      width: 30%;
      margin-right: 20%;
      text-align: center;
    }

    hr {
      border-width: 1;
      color: #535353;
    }

    .detailHoras {
      font-size: medium;
      text-align: justify;
    }

    table,
    th,
    td {
      border: 1px solid black;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    .nombreFirma{
      font-size: 20px;
    }

  </style>

</head>

<body>
  <div class="container">
    <!--Encabezado-->
    <div class="cover">
      <!--Logo-->
      <div class="logo">
        <img src="https://ddugnhfv9qira.cloudfront.net/NailBox-Logo.png" alt="" height="100" width="100">
      </div>
      <!--Titulo-->
      <div class="titulo">
        <h1>Reporte de Horas Trabajadas de Personal</h1>
      </div>
    </div>

    <!-- Fin Encabezado-->
    <!--Cuerpo-->
    <div class="datacontainer">
      <div class="datablock">
        <h3 class="datos">Nombre: <strong>
            <%=nombre%>
          </strong></h3>
        <h3 class="datos">Cargo: <strong>
            <%=cargo%>
          </strong></h3>
        <h3 class="datos">Unidad: <strong>
            <%=unidad%>
          </strong></h3>
        <h3 class="datos">Mes: <strong>
            <%=mes%>
          </strong></h3>
        <h3 class="datos">Cedula: <strong>
            <%=cedula%>
          </strong></h3>
      </div>
      <div class="totalhoras">
        <h4 class="totalhorastext">
          <%=totalHoras%>
        </h4>
        <p class="totalhorassub">Total Horas Trabajadas</p>
        <p class="detailHoras">Total Horas Extras: <strong>
          <%= textTotHorasExtras %>
          </strong></p>
        <p class="detailHoras">Total Horas Faltantes: <strong>
          <%= textTotHorasFaltantes %>
          </strong></p>
        <hr>
        <% if (validacionTotalHoras > 0) { %>
        <p class="detailHoras">Horas Extras : <strong>
          <%= totalHoraReporte %>
          </strong></p>
        <% } else{ %>
        <p class="detailHoras">Horas Faltantes : <strong>
          <%= totalHoraReporte %>
          </strong></p>
          <% } %>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Hora Entrada</th>
          <th>Hora Salida</th>
          <th>Total Horas Trabajadas</th>
          <th>Horas Extras</th>
          <th>Horas Faltantes</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<fechas.length; i++) {%>
          <tr>
            <td>
              <%= fechas[i]%>
                </th>
            <td>
              <%= horasEntrada[i]%>
            </td>
            <td>
              <%= horasSalida[i]%>
            </td>
            <td>
              <%= totalHorasTrabajadas[i]%>
            </td>
            <td>
              <%= horasExtras[i]%>
            </td>
            <td>
              <%= horasExtras[i]%>
            </td>
          </tr>
          <% }; %>
      </tbody>
    </table>
    <!--Fin cuerpo-->
    <!--Descripcion-->
    <h6>Reporte Elaborado apartir de la compilación mensual de la empresa NailBox</h6>
    <!--Firmas-->
    <div class="signs">
      <div class="indsign">
        <hr>
        <h2 class="nombreFirma">Viviana Palacios</h2>
        <p>Gerente General</p>
      </div>
      <div class="indsign">
        <hr>
        <h2 class="nombreFirma"><%=nombre%></h2>
        <p><%=cargo%></p>
      </div>
    </div>
    <!--Fin firmas-->
  </div>
</body>

</html>