<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Webinar tus primeras Criptomonedas</title>
  <link rel="shortcut icon" type="image/svg" href="https://d8ff17fs33kjt.cloudfront.net/logos/favicon-invrtir.svg">
  <link rel="stylesheet" href="    https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" />
</head>

<body>
  <script src="https://cdn.logwork.com/widget/countdown.js"></script>

  <div class="cover">

    <img class="logo" src="https://d8ff17fs33kjt.cloudfront.net/logos/Logo+Invrtir+1.svg">
    <h3 class="subtitle">WEBINAR GRATUITO</h3>
    <h1 class="maintitle">CÓMO COMPRAR <strong>MIS PRIMERAS CRIPTOMONEDAS</strong></h1>
    <p class="subtitleb">¡El camino más sencillo y rápido para comprar tus primeras Criptomonedas!</p>
    <div class="buttoncontainer"><a class="regbutton" href="#formregister">¡Regístrate ahora!</a></div>
  </div>
  <div id="wcontainer">
    <div id="leftside">
      <div id="timeanddate">
        <div id="date">
          <p id="monthtext">Octubre</p>
          <div class="day">
            <p id="daytext">12</p>
            <p class="horarioscontainer"><img class="horarios"
                src="https://d8ff17fs33kjt.cloudfront.net/eventos/Webinar+landings/GTM-3.png"> | 10 PM</p>
            <p class="horarioscontainer"><img class="horarios"
                src="https://d8ff17fs33kjt.cloudfront.net/eventos/Webinar+landings/GTM-5.png"> | 8 PM</p>
            <p class="horarioscontainer"><img class="horarios"
                src="https://d8ff17fs33kjt.cloudfront.net/eventos/Webinar+landings/GTM-6.png"> | 7 PM</p>
          </div>
        </div>
        <div id="host">
          <p style="font-size: 16px;">Presentado por:</p>
          <div id="instructor">
            <img id="photo" src="https://www.filepicker.io/api/file/aqmJCAEFTpaveK9lcFVm">
            <div id="instructordata">
              <h3 id="insname">Dan Neira</h3>
              <p id="cargo">CEO e Instructor</p>
            </div>
          </div>
          <p id="hostdetalle">Asesor financiero, emprendedor, docente e inversionista, cuento con más de 12 años de
            experiencia en inversiones internacionales incluyendo acciones de compañías en Estados Unidos, divisas y
            Criptomonedas.</p>
        </div>
      </div>
      <div class="formblock" id="formregister">
        <h2 class="centertitle text-white">¡Registrate ahora!</h2>
        <div class="formcontainer">
          <!-- Aqui se iniciar el formulario para editar -->
          <form class="needs-validation" action="/forms/webinar2" method="POST" novalidate>
            <div class="mb-3">
              <input placeholder="Nombre" type="text" class="form-control" id="inputName" name="inputName"
                aria-describedby="namelHelp" required />
              <div class="invalid-feedback">
                Ingrese el Nombre
              </div>
            </div>
            <div class="mb-3">
              <input placeholder="Apellido" type="text" class="form-control" id="inputLastName" name="inputLastName"
                aria-describedby="lastNamelHelp" required />
              <div class="invalid-feedback">
                Ingrese el Apellido
              </div>
            </div>
            <div class="mb-3">
              <input placeholder="Correo" type="email" class="form-control" id="inputEmail" name="inputEmail"
                aria-describedby="emailHelp" required />
              <div class="invalid-feedback">
                Ingrese el Correo
              </div>
            </div>
            <div class="mb-3 d-none">
              <input placeholder="País" type="text" class="form-control" id="inputCountry" name="inputCountry"
                aria-describedby="countrylHelp" value="">
              <div class="invalid-feedback">
                Ingrese su País
              </div>
            </div>
            <div class="mb-3 d-none">
              <input placeholder="Número de telefono" type="text" class="form-control" id="inputPhone" name="inputPhone"
                aria-describedby="phonelHelp" value="" />
              <div class="invalid-feedback">
                Ingrese su número de telefono
              </div>
            </div>
            <div class="mb-3 d-none">
              <input required type="text" class="form-control" id="inputAffcode" name="inputAffcode"
                aria-describedby="affcodelHelp" value=<%=affcode%>
              />
            </div>
            <div class="mb-3 d-none">
              <input required type="text" class="form-control" id="inputEvent" name="inputEvent"
                aria-describedby="eventlHelp" value='<%- event%>' />
            </div>
            <div class="mb-3 d-none">
              <input required type="text" class="form-control" id="inputnameEvent" name="inputnameEvent"
                aria-describedby="eventlHelp" value='<%- nameEvent%>' />
            </div>
            <div class="mb-3 d-none">
              <input required type="text" class="form-control" id="inputdateEvent" name="inputdateEvent"
                aria-describedby="eventlHelp" value='<%- dateEvent%>' />
            </div>
            <div class="mb-3 d-none">
              <input required type="text" class="form-control" id="inputZoom" name="inputZoom"
                aria-describedby="zoomlHelp" value=<%=idZoom%>
              />
            </div>
            <button type="submit" class="buttonform btn btn-primary">Registrar</button>
          </form>
          <!-- Aqui se terminar el formulario-->
        </div>
      </div>
    </div>

    <div id="rightside">
      <a href="https://logwork.com/countdown-wiqu" class="countdown-timer" data-timezone="America/Guayaquil"
        data-language="es" data-textcolor="#000000" data-date="2022-10-12 20:00" data-background="#ff6600"
        data-digitscolor="#ffffff" data-unitscolor="#000000">Miércoles 12 de octubre</a>
      <h5 class="subtitulocontenido">Durante este EVENTO EN VIVO GRATUITO aprenderás:</h5>
      <ul>
        <li>Conoce cómo comenzar a una manera sencilla en el mundo de las criptomonedas</li>
        <li>Aprende cuáles son las mejores plataformas para comprar tus primeras criptomonedas</li>
        <li>Conoce sobre las stable coins y por qué son importantes para comenzar a invertir en Criptomonedas</li>
        <li>Ejemplos reales de compras de tus primeras criptomonedas</li>
      </ul>
    </div>
  </div>
  <script>
    (() => {
      'use strict';

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation');

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms).forEach((form) => {
        form.addEventListener('submit', (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    })();
  </script>
</body>
<!-- Font Awesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
<style media="screen">
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,800;1,200;1,600&display=swap');

  body {
    font-family: 'Montserrat', sans-serif;
    color: #404040;
    background: rgb(252, 240, 253);
    background: linear-gradient(28deg, rgba(252, 240, 253, 1) 0%, rgba(201, 233, 250, 1) 100%);
  }

  p {
    line-height: 200%;
    text-align: justify;
    font-size: 16px;
  }

  .center {
    text-align: center;
  }

  .cover {
    text-align: center;
    padding: 40px 5% 30px 5%;
  }

  .count {
    margin: 0px 0px 40px 0px;
    color: transparent;
  }

  .horarios {
    height: 15px;
  }

  .horarioscontainer {
    display: flex;
    margin: -5px 0px;
    padding-left: 10px;
    align-items: baseline;
    font-weight: 800;
  }

  .logo {
    width: 60px;
    margin: 0px 0px 20px 0px;
  }

  .subtitle {
    font-size: 1.5vh;
    line-height: 80%;
    color: #ff6600;
  }

  .subtitleb {
    font-size: 2vh;
    line-height: 100%;
    text-align: center;
  }

  .buttoncontainer {
    text-align: center;
    margin-top: 50px;
  }

  .buttoncontainerbook {
    text-align: center;
    margin-top: 30px;
  }

  .regbutton {
    background-color: #ff6600;
    padding: 20px 50px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 600;
    margin: 100px auto;
    position: relative;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 40px -7px;
  }

  .regbutton:hover {
    background-color: #ff9900;
    /* Green */
    color: white;
  }

  #wcontainer {
    margin: 50px 2%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  }

  #leftside {
    width: 100%;
    background-color: #232323;
    padding: 20px;
  }

  #rightside {
    width: 100%;
    padding: 10px 30px;
  }

  #timeanddate {
    display: flex;
    flex-wrap: wrap;
  }

  #date {
    width: 30%;
  }

  #monthtext {
    background-color: #3164FA;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 10px 0px;
  }

  .day {
    margin-top: -15px;
    background-color: #ffffff;
    padding-bottom: 20px;
  }

  #daytext {
    font-size: 44px;
    font-weight: 800;
    text-align: center;
    color: #535353;
    margin-bottom: 8px;
  }

  #host {
    margin-left: 20px;
    color: #ffffff;
    width: 60%;
  }

  #hostdetalle {
    margin-top: 10px;
    font-size: 12px;
  }

  #instructor {
    display: flex;
    align-items: center;
  }

  #instructordata {
    align-items: center;
  }

  #photo {
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  #insname {
    margin-top: 20px;
    font-size: 22px;
    font-weight: 800;
    line-height: 80%;
  }

  #cargo {
    font-size: 16px;
    line-height: 80%;
  }

  #rightside {
    background-color: #f8f8f8;
    padding: 60px 30px;
  }

  .subtitulocontenido {
    font-weight: 800;
    margin-top: 50px;
  }

  ul {
    list-style-image: "";
  }

  @media only screen and (min-width: 768px) {
    .cover {
      padding: 0px 25% 100px 25%;
    }

    #leftside {
      width: 50%;
    }

    #rightside {
      width: 50%;
    }


    #wcontainer {
      margin: 50px 10%;
    }



  }
</style>

</html>